@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~react-modal-video/scss/modal-video.scss'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@font-face {
  font-family: 'inter';
  src: url(/fonts/inter/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'inter';
  src: url(/fonts/inter/Inter-Medium.ttf);
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'playfair-display';
  src: url(/fonts/playfair-display/PlayfairDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal
}

@layer components {
  @media (min-width: 1536px) {
      .container {
          max-width: 1500px;
      }
  }
  @media  (max-width: 1537px) and (min-width: 1280px) {
    .container {
        max-width: 1150px;
    }
  }
}  

p{
  color: #ffffff;
  margin-bottom: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.9375rem;
}

.card{
  background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur(30px);
}


.itemsSlider .slick-slide:nth-child(even) .slickItem{
  transform: scale(0.8);
}

.itemsCard h2{
  position: relative;
}

.itemsCard h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.itemsCard:hover h2:before {
  width: 100%;
  left: 0;
  right: auto;
}

.socialMedia li{
  width: 60px;
  height: 60px;
}

.socialMedia a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.socialMedia a img{
  position: relative;
  z-index: 1;
}

.socialMedia a:hover:before{
  width: 100%;
  left: 0;
  right: auto;
}

.socialMedia a:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background: #AD8749;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}



.footerLinks a{
  position: relative;
}

.footerLinks a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footerLinks a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

.heroBanner{
  position: relative;
}

.heroBanner .heroBannerImg:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #000;
  opacity: 0.52;
  z-index: 1;
}

.heroBanner .slick-slider{
  height: 100%;
}

.heroBanner .slick-slider .slick-slide{
  height: 100vh;
}

.heroBanner .slick-slider .slick-slide > div{
  height: 100%;
}

.heroBanner .slick-dots{
  position: absolute;
  width: auto;
  bottom: 4rem;
  left: 45%;
}

.heroBanner .slick-dots li.slick-active button:before{
  color: #fff;
  opacity: 1;
}

.heroBanner .slick-dots li{
  margin: 0;
}

.heroBanner .slick-dots li button:before{
  font-size: 13px;
  color: #585451;
  opacity: 1;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .heroBanner .heroBannerImg:before{
    width: 100%;
  }
  .container{
    padding: 0 1.875rem;
  }
  .heroBanner .slick-dots li button:before{
    font-size: 11px;
  }
  .heroBanner .slick-dots{
    left: auto;
    right: 1.875rem;
  }
  .itemsSlider .slick-slide:nth-child(even) .slickItem{
    transform: scale(1);
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .heroBanner .heroBannerImg:before{
    width: 100%;
  }
  .container{
    padding: 0 1.875rem;
  }
  .heroBanner .slick-dots li button:before{
    font-size: 11px;
  }
  .heroBanner .slick-dots{
    left: auto;
    right: 1.875rem;
  }
  .itemsSlider .slick-slide:nth-child(even) .slickItem{
    transform: scale(1);
  }

  .socialMedia li{
    width: 30px;
    height: 30px;
  }
}